
header.masthead(style=`background-image: url('${site.base}${featured_image}')`)
    .container.position-relative.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
            .col-md-10.col-lg-8.col-xl-7
                div(class=`${page_type}-heading`)
                    h1=title
                    span.subheading=description