// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light
    .container.px-4.px-lg-5
        a.navbar-brand(href=nav[0]) #{author}
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.py-4.py-lg-0
                each navitem in nav
                    li.nav-item
                        a.nav-link.px-lg-3.py-3.py-lg-4(href=`${site.base}/${navitem.path}`) #{navitem.label}