extends default.pug

block main
    // Main Content
    each post, index in collections.posts
        - var divider = (index < collections.posts.length - 1);
        // Post preview
        .post-preview
            a(href=post.path)
                h2.post-title= post.title
                h3.post-subtitle= post.description

            p.post-meta
                | Posted by 
                a(href=`${site.base}/authors/${post.author}`) #{post.author} 
                | on 
                time(datetime=post.isoDate)= post.displayDate

            // Divider
            if (divider)
                hr.my-4

    // Pager
    .d-flex.justify-content-end.mb-4
        a.btn.btn-primary.text-uppercase(href='#!') Older Posts →
